@import '~vue-impression/dist/styles/index';

.right-enter {
    transform: translateX(-100%);
}
.right-leave-active {
    transform: translateX(50%);
}

.left-enter {
    transform: translateX(100%);
}
.left-leave-active {
    transform: translateX(-50%);
}

.left-enter-active, .left-leave-active,
.right-enter-active, .right-leave-active {
    transition: transform .4s;
}

.left-enter-active, .right-enter-active {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 900;
    top: 0;
    bottom: 0;
    background-color: #eee;
}

.toast-bottom {
    left: 0;
    transform: none;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    padding: 0 3rem;

    .toast-message {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0.333rem;
        display: inline-block;
        padding: 1rem;
        line-height: 1.43;
    }
}

.loading {
    height: 5rem;

    &.loading-sm {
        height: 1rem;
    }
}

.loadmore .loading {
    width: 1rem;
    height: 1rem;
    .loading-path {
        stroke: #aaa;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.input-text-input {
    font-size: 1.2rem !important;
    width: 100%;
}
