

.right-enter {
    transform: translateX(-100%);
}
.right-leave-active {
    transform: translateX(50%);
}

.left-enter {
    transform: translateX(100%);
}
.left-leave-active {
    transform: translateX(-50%);
}

.left-enter-active, .left-leave-active,
.right-enter-active, .right-leave-active {
    transition: transform .4s;
}

.left-enter-active, .right-enter-active {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 900;
    top: 0;
    bottom: 0;
    background-color: #eee;
}
