$brand-primary: #2196f3 !default;

body {
  color: #666;
}

// Input
.form-control {
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ddd;

    &:focus {
        outline: none;
        border-color: #7caaf7;
        box-shadow: 0 0 8px rgba(124,170,247,.8);
    }
}

// Btn
.btn {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;
    border: 1px solid transparent;
    padding: .4rem 1.2rem;
    border-radius: 2px;
    user-select: none;

    &:active {
        color: #fff;
        background-color: darken($brand-primary, 12%);
        border-color: darken($brand-primary, 12%);
    }

    &,
    &:active,
    &:focus {
        outline: none;
    }
}

// Card
.card {
    font-size: .8rem;
    border: 1px solid #ddd;
    padding: .6rem;
    margin-top: 1rem;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

